<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body class="bg-gray-900 text-gray-100">
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <script src="<%= asset_path('script.js') %>"></script>
  </body>
</html>
